.AddAccessRolesForm {
  padding: 0;

  .AddAccessRolesForm__group {
    padding-bottom: 10px;
  }

  .AddAccessRolesForm__buttonCont {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .AddAccessRolesForm__muted {
    color: #a52a2a !important;
  }
}