.MainHeader {
  .MainHeader__icon {
    margin-left: 20px;
    padding: 8px;

    :hover {
      cursor: pointer;
    }
  }

  .MainHeader__navbar {
    background-color: #adb5bd;
  }

  .MainHeader__badge {
    margin-right: 10px;
    color: #dee2e6;
    background-color: #495057 !important;
  }
}

#customCanvas{
  background-color: #adb5bd;

  .CustomDropdownMenu {
    margin-bottom: 10px !important;
  }

  .customCanvas__header {
    background-color: #495057;
    color: #dee2e6;
    box-shadow: 0 3px 5px #495057;
    overflow-x: hidden !important;

    .btn-close {
      background-color: #dee2e6;
    }
  }

  .IconButton {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .customCanvas__top {
    padding: 0;
    width: 100%;
    min-height: 94%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .customCanvas__bottom {

  }
}