@import "~bootstrap/scss/bootstrap";

.App {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(136, 136, 136, 0.1);
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 4px;
}